.contact_section {
  height: 100%;
  padding: 40px 0 50px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/footer-bg.png");
}
.location_area {
  width: 30%;
  border-radius: 5px;
  padding: 5px 0 5px 50px !important;
  background-color: rgb(226, 226, 226);
}
.contact_area {
  width: 100%;
  border-radius: 5px;
  margin-left: 30px;
  width: 60% !important;
  padding: 30px 50px 5px 50px !important;
  background: rgb(226, 226, 226);
  box-shadow: 3px 3px 3px lightgrey, -3px -3px 3px lightgrey;
}
.btn_primary {
  width: 150px;
  background: green !important;
  font-weight: bold !important;
  color: #fff !important;
}
.address_container {
  padding: 15px 0 15px 20px;
  box-shadow: 5px 5px 5px lightgrey, -5px -5px 5px lightgrey;
}
.form_details {
  padding: 15px;
  box-shadow: 5px 5px 5px lightgrey, -5px -5px 5px lightgrey
}
 @media screen and (max-width: 700px) { 
  .form_details{
    margin-top: 40px !important;
  }
}

