.about_container{
          height: 100%;
          padding: 40px 0 50px 0;
          display: flex;
          align-items: center;
          justify-content: center;
}
/* .about_parent{
        box-shadow: 5px 5px 5px lightgrey, -5px -5px 5px lightgrey;
        padding: 50px;
} */
.description_role{
        box-shadow: 3px 3px 5px lightgrey, -3px -3px 5px lightgrey;
        padding: 50px;
}
.img{
        box-shadow: 3px 3px 5px lightgrey, -3px -3px 5px lightgrey;   
}
.description_role h1{
        font-size: 40px;
        font-family: "Anton", sans-serif;
        font-family: "Bebas Neue", cursive;
        font-family: "Charm", cursive;    
}
.heading_text{
          font-weight: 800;
          font-size: 3.5em;
          color: #3b3b3b;
          font-family: "Anton", sans-serif;
          font-family: "Bebas Neue", cursive;
          font-family: "Charm", cursive;
}

.about_details{
          box-shadow: 5px 5px 5px lightgrey, -5px -5px 5px lightgrey;
}
.hire_btn{
          width: 150px;
          height: 45px;
          font-size: 18px !important;
          font-weight: 700 !important;
          background-color: #111 !important;
          color: #fff !important;
          border-radius: 30px !important;
}
.highlighted_text h4{
        margin-top: 40px;
}
.resume_btn{
          width: 150px;
          height: 45px;
          font-size: 18px !important;
          font-weight: 700 !important;
          background-color: #f34511 !important;
          color: #fff !important;
          border-radius: 30px !important;
          margin-left: 30px;
}
.heading_separator{
        position: relative; 
        display: flex;
        align-items: center;
        margin : 40px;
}
.separator_line{
          width: 180px;
          height: 2px;
          text-align: center;
          margin: auto; 
          background-color: rgb(0, 0, 0);
}
.separator_blob{
          height: 10px;
          width : 100%;
          position : absolute;
          display: flex;
          justify-content: center;
} 
.separator_blob div{
          width: 35px;
          border-radius: 10px;
          background-color: #f34511;
}
.img{
        width: 450px;
}
.description_role{
        padding-top: 10px;
}
@media screen and (max-width: 1110px) {
        .img{
                width: 100%;
                margin-right: 15px;
        }  
}
@media screen and (max-width: 910px){
        
} 
@media screen and (max-width: 810px){
        .heading_text{
                font-size: 4.5rem;
        }
        .description_role{
                margin-top: 20px;
        }
        .description_role h1{
                font-size: 4rem;
        }
        .text p, .highlighted_text li{
                font-size: 1.5rem;
        }
        .highlighted_text h4{
                font-size: 2.5rem;
        }
}
@media screen and (max-width: 605px){
        .description_role h1{
                font-size: 2.5rem;
        }
        .text p, .highlighted_text li{
                font-size: 1rem;
        }
        .highlighted_text h4{
                font-size: 2rem;
        }
}
@media screen and (max-width: 375px){
        .img{
                width: 375px;
                height: auto;
        }
        .description_role{
                margin: 10px 3px !important;
                
        }
        .description_role h1{
                width: 375px;
        }
}
